.cardsWrap{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, 22rem);
    padding: 2rem;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .cardsWrap{
        gap: 1rem;
        padding: 1rem;
        grid-template-columns: repeat(auto-fill, 18rem);
    }
}

@media screen and (max-width: 300px) {
    .cardsWrap{
        grid-template-columns: repeat(auto-fill, 10rem);
    }
}