.wrap{
    display: block;
    width: 80%;
    margin: 0 auto;
    min-height: 8rem;
    font-size: 2rem;
    padding: 1rem;
}

.input {
    position:fixed;
    z-index: 5;
    background-color: rgb(60, 66, 76);
    border: 0.2rem solid rgb(60, 66, 76);
    box-sizing: content-box;
    height: 1rem;
    width: 50%;
    max-width: 30rem;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 0.5rem 0.5rem rgba(23, 26, 30, 0.5);
    -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(23, 26, 30, 0.5);;
}

.input:active, .input:focus  {
    outline: none;
    border: 0.2rem solid rgb(97, 107, 122);
}

.title{
    margin:4rem 0 1rem;
}

.text{
    color: rgb(93, 103, 119);
    font-size: 1rem;
}

@media screen and (max-width: 400px) {
    .wrap {
        width: 90%;
        margin: 0 auto;
        min-height: 8rem;
        font-size: 1rem;
        padding: 1rem;
    }

    .name {
        font-size: 1rem;
    }
}